[Unit]
Description=Discord bot 'cringe-watch'
After=network.target

[Service]
ExecStart=/home/ubuntu/bot/app.js
Restart=on-failure
WorkingDirectory=/home/ubuntu/bot

[Install]
WantedBy=multi-user.target

